<div class="container mt-4">
    <div *ngIf="successMsg" class="alert alert-success text-center">{{ successMsg }}</div>
    <div *ngIf="errorMsg" class="alert alert-danger text-center">{{ errorMsg }}</div>
  
    <div class="card">
      <div class="card-header">
        <h2>Create Configuration</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Config File Name:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="configFileName" />
              <div *ngIf="f['configFileName'].invalid && f['configFileName'].touched" class="text-danger">
                * Required. Only a-z, A-Z, 0-9, -, _ allowed.
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Template Relative Path:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="templateFileRelativePath" />
              <div *ngIf="f['templateFileRelativePath'].invalid && f['templateFileRelativePath'].touched" class="text-danger">
                * Required field.
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Template File:</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" (change)="onFileSelect($event)" />
              <div *ngIf="f['templateFile'].invalid && f['templateFile'].touched" class="text-danger">
                * Required field.
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">From:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="from" />
              <div *ngIf="f['from'].invalid && f['from'].touched" class="text-danger">
                * Required field.
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Subject:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="subject" />
              <div *ngIf="f['subject'].invalid && f['subject'].touched" class="text-danger">
                * Required field.
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Reply To:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="replyto" />
              <div *ngIf="f['replyto'].invalid && f['replyto'].touched" class="text-danger">
                * Required field.
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Attachment Directory:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="attachmentDirectory" />
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <button type="submit" class="btn btn-primary" [disabled]="configForm.invalid">Submit</button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  