<div class="container">
  <div class="title-bar mb-3">
    <h2 class="main-title header-color">Batch Run</h2>
  </div>

  <form id="newpreprocessor" method="post" action="/broadside/app/StartNewPreprocessor.action" enctype="multipart/form-data">
    <input type="hidden" name="appid" value="72" />

    <div class="text-center text-danger" id="messagemap">
      <ul></ul>
    </div>
    <div class="text-success" id="pp_success"></div>
    <div class="text-danger" id="pp_error"></div>
    <div class="text-danger" id="error_conffilename"></div>
    
    <div class="row mb-3 align-items-end">
      <div class="col-md-4">
        <label class="form-label" style="text-align: start;">Configuration Files</label>
        <select class="form-select" name="conffilename" id="conffilename" onchange="onChangeConfigurationFile()">
          <option value="" disabled selected>-Select an option</option>
          <option value="280224_testing2.conf">280224_testing2.conf</option>
          <option value="240830_Broadside_Demo.conf">240830_Broadside_Demo.conf</option>
        </select>
      </div>
      
      <div class="col-auto">
        <a href="/create-config" class="btn btn-color">Add new</a>
      </div>
      <div class="col-auto">
        <a href="/test-run" class="btn btn-color">Test Configuration</a>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="inputfile" class="form-label">Upload input file</label>
        <input class="form-control" type="file" name="inputfile" id="inputfile" />
      </div>
    </div>

    <div class="text-lg-start">
      <button type="button" class="btn btn-color" id="runpreprocessor" onclick="runNewPreprocesser()">Start Batch Run</button>
    </div>
  </form>

  <div class="text-success" id="pp_previous"></div>

  <script>
    startStatusTimer("", "", "");
  </script>
</div>


<!-- <div class="container">
  <div class="title-bar mb-3">
    <div class="row">
      <div class="col-md-7">
        <h2 class="main-title">Batch Run</h2>
      </div>
    </div>
  </div>

  <div *ngIf="preprocessorStarted">
    <span class="successmsg">{{ preprocessorSuccessMessage }}</span>
  </div>

  <div class="detail-fields">
    <form [formGroup]="batchRunForm">
      <div class="row mb-3 align-items-end">
        <div class="col-md-4 mb-2">
          <label class="form-label">Configuration Files</label>
          <select class="form-select form-control border-input" formControlName="conffilename">
            <option value="">--Select--</option>
            <option *ngFor="let file of configFiles" [value]="file.conffilename">
              {{ file.conffilename }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div *ngIf="inputFileError" class="errormsg">{{ inputFileError }}</div>
        <div class="col-md-4">
          <label for="formFile" class="form-label">Upload input file</label>
          <input class="form-control" type="file" (change)="onFileSelect($event)" />
        </div>
      </div>

      <div class="text-center mt-3">
        <button type="button" class="btn btn-primary" (click)="startBatchRun()">
          Start Batch Run
        </button>
      </div>
    </form>
  </div>
</div>
 -->
