.progress_outer_div {
    margin: 20px;
  }
  
  .progress_title_div {
    margin-bottom: 10px;
  }
  
  .progress_main_div .progress-bar {
    transition: width 0.6s ease;
    font-size: medium;
  }
  
  .errormsg {
    color: red;
    margin-top: 10px;
  }
  