<div class="container">
  <form [formGroup]="configForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div class="row mb-3">
      <!-- Config File Name -->
      <div class="col-md-4 form-floating">
        <input class="form-control custom-input" id="configFileName" formControlName="configFileName" type="text" />
        <label for="configFileName"><span class="compulsary">*</span>Config File Name:</label>
        <div *ngIf="f['configFileName'].touched && f['configFileName'].invalid" class="errormsg">
          <small *ngIf="f['configFileName'].errors?.['required']">Config File Name is required</small>
          <small *ngIf="f['configFileName'].errors?.['pattern']">Invalid characters in Config File Name</small>
        </div>
      </div>
    
      <!-- Template File Relative Path -->
      <div class="col-md-4 form-floating">
        <input class="form-control custom-input" id="templateFileRelativePath" formControlName="templateFileRelativePath" type="text"  />
        <label for="templateFileRelativePath"><span class="compulsary">*</span>Template Relative Path:</label>
        <div *ngIf="f['templateFileRelativePath'].touched && f['templateFileRelativePath'].invalid" class="errormsg">
          <small *ngIf="f['templateFileRelativePath'].errors?.['required']">Template File Path is required</small>
          <small *ngIf="f['templateFileRelativePath'].errors?.['pattern']">Invalid Path</small>
        </div>
      </div>
    </div>
    
    <!-- Template File -->
    <div class="form-floating col-md-4 mb-3">
      <input class="form-control custom-input" style="border-bottom: none;" type="file" formControlName="templateFile" id="templateFile" />
      <label for="templateFile"><span class="compulsary">*</span>Template File:</label>
    </div>

    <!-- From -->
     <div class="row mb-3">
    <div class="col-md-4 form-floating">
      <input class="form-control custom-input" id="from" formControlName="from" type="text" />
      <label for="from"><span class="compulsary">*</span>From:</label>
    </div>

    <!-- Subject -->
    <div class="col-md-4 form-floating">
      <input class="form-control custom-input" id="subject" formControlName="subject" type="text" />
      <label for="subject"><span class="compulsary">*</span>Subject:</label>
    </div>
  </div>

    <!-- Reply To -->
    <div class="row mb-3">
      <div class="col-md-4 form-floating">
        <input class="form-control custom-input" id="replyto" formControlName="replyto" type="text" />
        <label for="replyto"><span class="compulsary">*</span>Reply To:</label>
      </div>
    
      <div class="col-md-4 form-floating">
        <input class="form-control custom-input" id="attachmentDirectory" formControlName="attachmentDirectory" type="text" />
        <label for="attachmentDirectory">Attachment Directory:</label>
      </div>
    </div>
    

    <!-- Constant Name and Value -->
    <div class="row mt-3 mb-3">
      <div class="col-md-4 form-floating">
        <input class="form-control custom-input" id="constantName" formControlName="constantName" type="text" />
        <label for="constantName">Tag Name:</label>
      </div>
      <div class="col-md-4 form-floating">
        <input class="form-control custom-input" id="constantValue" formControlName="constantValue" type="text" />
        <label for="constantValue">Tag Value:</label>
      </div>
      <div class="col-md-4">
        <button type="button" (click)="addConstant()" class="btn btn-primary">Add Tag</button>
      </div>
    </div>

    <!-- Column -->
     <div class="row mb-3">
    <div class="col-md-4 form-floating">
      <input class="form-control custom-input" id="column" formControlName="column" type="text" />
      <label for="column"><span class="compulsary">*</span>Columns:</label>
    </div>

    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Add Coloum</button>
    </div>

  </div>
    <!-- Actions -->
    <div class="row mb-3">
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Generate Config File</button>
      </div>
      <div class="col-md-4">
        <button type="button" (click)="onReset()" class="btn btn-primary">Reset</button>
      </div>
    </div>

  </form>
</div>
