<div class="channel-details-page pb-3">
  <div class="container">
    <!-- Message Alerts -->
    <div>
      <span *ngIf="successMessage" class="successmsg" style="color: green;">
        {{ successMessage }}
      </span>
      <span *ngIf="!successMessage && errorMessage" class="errormsg" style="color: red;">
        {{ errorMessage }}
      </span>
      <span *ngIf="!successMessage && !errorMessage && serverSideConfirm" id="serverSideConfirm">
        {{ serverSideConfirm }}
      </span>
      <span *ngIf="!successMessage && !errorMessage && !serverSideConfirm && msg" id="msg">
        {{ msg }}
      </span>
    </div>


    <div id="configform">
      <!-- Title -->
      <div class="title-bar mb-3">
        <h2 class="main-title text-left">Configuration Form:</h2>
      </div>

      <div class="detail-fields">
        <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="appid" value="72">

          <!-- Metadata Section -->
          <div class="mt-4" style="background-color: #eae9ff;">
            <strong>Add Tags to Metadata</strong>
            <div id="namespaceColumns">
              <div *ngFor="let const of constants">
                <label>
                  <input type="checkbox" name="namespaceColumns" [value]="const.name" /> {{ const.name }}
                </label>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <table id="metadataConstants"></table>
          </div>

          <!-- Configuration Fields -->
          <div class="row g-3 mb-3">
            <div class="col-md-4">
              <div class="form-floating">
                <input class="form-control" formControlName="configFileName">
                <label class="custom-label"><span class="text-danger">*</span> Config File Name:</label>
              </div>
              <span class="errormsg">{{ configFileNameError }}</span>
            </div>
            
            <div class="col-md-4">
              <div class="form-floating">
                <input class="form-control" formControlName="templateFileRelativePath">
                <label class="custom-label"><span class="text-danger">*</span> Template Relative Path:</label>
              </div>
              <span class="errormsg">{{ templateFileRelativePathError }}</span>
            </div>
          </div>

          <div class="row g-3 mb-4">
            <div class="col-md-4">
              <label class="form-label"><span class="text-danger">*</span> Template File:</label>
              <input class="form-control" type="file" (change)="onFileSelected($event)" style="border: 1px solid #B1B2B6; border-radius: 5px;">
            </div>
            <div class="col-md-4" style="margin-top: 47px;">
              <button type="button" class="btn btn-color" (click)="togglePreview()" [disabled]="!selectedFile">Preview</button>
            </div>
          </div>

          <!-- Pass selected file to the FileViewer2Component -->
           <div *ngIf="showPreview" style="margin-left: -10px;">
          <app-file-viewer2 [fileInput]="selectedFile"></app-file-viewer2>
        </div>
          
          <!-- Email Fields -->
          <div class="row g-3 mb-4">
            <div class="col-md-4">
              <div class="form-floating">
                <input class="form-control" formControlName="from">
                <label class="custom-label"><span class="text-danger">*</span> From:</label>
              </div>
              <span class="errormsg">{{ fromError }}</span>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input class="form-control" formControlName="subject">
                <label class="custom-label"><span class="text-danger">*</span> Subject:</label>
              </div>
              <span class="errormsg">{{ subjectError }}</span>
            </div>
          </div>

          <!-- Namespace Section -->
          <div class="mt-4" style="background-color: #eae9ff;">
            <strong>Add Namespace</strong>
            <div>
              <table id="namespaceConstants" class="table table-bordered"></table>
            </div>

            <div id="namespaceColumns" style="margin-top: -20px;">
              <div *ngFor="let col of columns">
                <label>
                  <input type="checkbox" name="namespaceColumns" [value]="col" /> {{ col }}
                </label>
              </div>
            </div>
          </div>
          <!-- <div>
            <table id="namespaceConstants" class="table table-bordered"></table>
          </div> -->
          

          <!-- Tag Input Fields -->
          <div class="row g-3">
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" formControlName="constantName" class="form-control">
                <label class="custom-label">Tag Name</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" formControlName="constantValue" class="form-control" >
                <label class="custom-label" >Tag Value</label>
              </div>
            </div>
            <div class="col-md-4 mt-4">
              <button type="button" class="btn btn-color" (click)="addConstant()">Add Tag</button>
            </div>
          </div>
         

          <div class="mt-3" id="constantList">
            <div *ngFor="let const of constants" class="value-list-item d-flex align-items-center">
              <span class="column text-primary me-2">{{ const.name }}: {{ const.value }}</span>
              <div class="close-icon light" (click)="removeConstant(const.name)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <!-- Columns Input -->
          <div class="row g-3 mb-2">
            <div class="col-md-4">
              <div class="form-floating"> 
                <input type="text" formControlName="column" #columnInput class="form-control">
                <label class="custom-label"><span class="text-danger">*</span> Columns</label>
              </div>
            </div>
            <div class="col-md-4 mt-4">
              <button type="button" class="btn btn-color" (click)="addColumn(columnInput)" >Add Columns</button>
            </div>


            <div id="columnsList">
              <div *ngFor="let col of columns" class="value-list-item d-flex align-items-center">
                <span class="column text-primary me-2">Column: {{ col }}</span>
                <div class="close-icon light" (click)="removeColumn(col)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>


          </div>
  

          <!-- Buttons -->
          <div class="row g-3">
            <div class="col-auto">
              <button type="submit" class="btn btn-color" >Generate Config File</button>
            </div>
            <div class="col-auto">
              <button type="reset" class="btn btn-color" >Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
