.main-title {
	color: var(--primary-dark);
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
}

.border-input::placeholder {
	color: var(--gray);
}

.form-label {
	color: #505052;
	font-size: 12px;
	margin-bottom: 3px;
}